/* Global */
:root {
  --primary-DarkBlue: #043873;
  --primary-White: #ffffff;
  --primary-DarkGray: #32363f;
  --accent-LightBlue: #4f9cf9;
  --accent-Yellow: #ffe492;
  --variationPrimary-VaraintDark: #072445;
  --variationPrimary-VaraintWhite: #f8f9fa;
  --variationPrimary-VaraintDarkGray: #212529;
  --variationAccent-VaraintLightBlue: #d9e8f8;
}
* {
  font-family: "Montserrat", sans-serif;
}
.joplin__para {
  font-weight: 400;
  font-size: 20.8px;
  line-height: 1.5;
  color: var(--primary-DarkGray);
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .joplin__para {
    text-align: center;
    width: 100% !important;
  }
}
.joblin__tagline1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: var(--variationPrimary-VaraintDarkGray);
}
/* Global */

/* Header */
header {
  background-image: url("../Media/background\ blue\ motif\ 1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  padding: 36px 0;
}
header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav h2.main-logo {
  font-weight: 600;
  font-size: 48px;
  color: var(--primary-White);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}
@media screen and (max-width: 992px) {
  header .container nav img {
    max-width: 200px;
  }
  header .container nav h2.main-logo {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  header .container nav img {
    max-width: 150px;
  }
  header .container nav h2.main-logo {
    font-size: 26px;
  }
}
@media screen and (max-width: 576px) {
  header .container nav img {
    max-width: 100px;
  }
  header .container nav h2.main-logo {
    font-size: 18px;
  }
}
/* Header */
/* Joblin Logos */
.joblin__logos {
  padding: 92px 0;
}
.joblin__logos h2.main-logo {
  font-weight: 700;
  font-size: 48px;
  color: var(--primary-DarkBlue);
  margin-bottom: 45px;
}
@media screen and (max-width: 767px) {
  .joblin__logos h2.main-logo {
    text-align: center;
  }
}
.joblin__logos .container > p {
  margin-bottom: 6px;
}
.joblin__logos > .wrapper {
  padding: 40px 0;
  margin: 40px auto;
  width: 80%;
  border: 1px solid var(--variationAccent-VaraintLightBlue);
  border-radius: 5px;
}
@media screen and (max-width: 1440px) {
  .joblin__logos > .wrapper {
    width: 99%;
  }
}
.joblin__logos .wrapper .para-1 {
  margin-bottom: 19px;
}
.joblin__logos .wrapper .logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 27px;
}
.joblin__logos .wrapper .logo-wrapper:last-child {
  gap: 24px;
}
.joblin__logos .wrapper .logo-wrapper img {
}
.joblin__logos .wrapper .logo-wrapper h4 {
  font-size: 38px;
  font-weight: 600;
}
.joblin__logos .wrapper .logo-wrapper .blue-header {
  color: var(--accent-LightBlue);
}
.joblin__logos .wrapper .logo-wrapper .white-header {
  color: var(--primary-White);
}
.joblin__logos .wrapper .para-1 .blue-text {
  font-weight: bold;
  color: var(--accent-LightBlue);
}
.joblin__logos .wrapper .box:nth-child(1) {
}
@media screen and (max-width: 767px) {
  .joblin__logos .wrapper .box:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.joblin__logos .wrapper .box:nth-child(1) > p {
  width: 80%;
}
.para-1 {
  width: 100%;
}

@media screen and (min-width: 1400px) {
  .joblin__logos .wrapper .box2 {
    padding-left: 130px;
    margin-right: -130px;
  }
}
.joblin__logos .wrapper .colored-box {
  background-color: var(--primary-DarkBlue);
  padding: 24px 15px 19px 24px;
  width: fit-content;
}
@media screen and (min-width: 1400px) {
  .joblin__logos .wrapper .colored-box {
    margin-left: 70px;
  }
}
.joblin__logos .wrapper .colored-box p {
  color: var(--primary-White);
  margin-bottom: 28px;
}
@media screen and (max-width: 767px) {
  .joblin__logos .wrapper .colored-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.joblin__logos .wrapper .box-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
}
@media screen and (max-width: 767px) {
  .joblin__logos .wrapper .box-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .joblin__logos .wrapper h2 {
    text-align: center;
  }
}
.joblin__logos .wrapper .box-wrapper img {
  margin-top: 7px;
  max-width: 100%;
}
.joblin__logos .wrapper .box-wrapper p {
  width: 70%;
}
.joblin__logos .wrapper-2 {
  position: relative;
}
.joblin__logos .wrapper-2 .pipeline {
  width: 1px;
  height: 94%;
  background-color: var(--variationAccent-VaraintLightBlue);
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1200px) {
  .joblin__logos .wrapper-2 .pipeline {
    display: none;
  }
}
.joblin__logos .wrapper-2 .joblin__tagline1 {
  margin-bottom: 34px;
}
.joblin__logos .wrapper-2 .our-para {
  margin-top: 19px;
}
.joblin__logos .wrapper-2 img {
  max-width: 100%;
}
.joblin__logos .wrapper-2 .box-wrapper {
  margin-right: 100px;
}
@media screen and (max-width: 425px) {
  .joblin__logos .wrapper-2 .box-wrapper {
    margin-right: 0;
  }
}
@media (min-width: 1400px) and (max-width: 2100px) {
  .joblin__logos .wrapper-2 .special-box {
    margin-left: 170px;
  }
  .joblin__logos .wrapper-2 .special-box p {
    width: 100%;
  }
  .joblin__logos .wrapper-2 .pipeline {
    left: 53%;
  }
}
@media (min-width: 1441px) and (max-width: 1750px) {
  .joblin__logos .p-row {
    padding: 0 5rem;
  }
}
/* Joblin Logos */

/* Joblin__Colours */
.joblin__colours {
  padding: 80px 0;
  background-image: url("../Media/background\ blue\ motif\ 2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.joblin__colours h2 {
  color: var(--primary-White);
  font-size: 48px;
  margin-bottom: 28px;
}
@media screen and (max-width: 767px) {
  .joblin__colours h2 {
    text-align: center;
  }
}
.joblin__colours p {
  color: var(--primary-White);
  margin-bottom: 40px;
}
.joblin__colours .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1060px) {
  .joblin__colours .wrapper {
    justify-content: center;
  }
}
.joblin__colours .wrapper img {
  max-width: 100%;
}
.joblin__colours .wrapper .chart-wrapper {
  background-color: #d9d9d9;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.joblin__colours .wrapper .chart-wrapper .chart-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.joblin__colours .wrapper .chart-wrapper .chart-info-wrapper {
  display: flex;
  justify-content: space-between;
  /* gap: 3px; */
  flex-direction: column;
}
.joblin__colours .wrapper .chart-wrapper .chart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.joblin__colours .wrapper .chart-wrapper .chart-info span {
  font-size: 14px;
}
.joblin__colours .wrapper .chart-wrapper .chart-info span:first-child {
  font-weight: 600;
  position: relative;
}
.joblin__colours .wrapper .chart-wrapper .chart-info span:first-child::before {
  content: "";
  width: 130px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(10px);
}
.joblin__colours .wrapper .chart-wrapper .chart-info span:first-child::after {
  content: "";
  height: 1px;
  background-color: #4f4f4f;
  position: absolute;
}
.joblin__colours
  .wrapper
  .chart-wrapper
  .chart-info:nth-child(1)
  span:first-child::after {
  content: "";
  width: 135px;

  top: 50%;
  left: 184%;
  transform: translateY(1px) rotateZ(-8deg);
}
.joblin__colours
  .wrapper
  .chart-wrapper
  .chart-info:nth-child(2)
  span:first-child::after {
  content: "";
  width: 110px;

  top: 50%;
  left: 181%;
  transform: translateY(-9px) rotateZ(-20deg);
}
.joblin__colours
  .wrapper
  .chart-wrapper
  .chart-info:nth-child(3)
  span:first-child::after {
  content: "";
  width: 70px;

  top: 50%;
  left: 180%;
  transform: translateY(-5px) rotateZ(-26deg);
}
.joblin__colours
  .wrapper
  .chart-wrapper
  .chart-info:nth-child(4)
  span:first-child::after {
  content: "";
  width: 15px;

  top: 50%;
  left: 184%;
  transform: translateY(9px) rotateZ(-8deg);
}
.joblin__colours
  .wrapper
  .chart-text-wrapper-special
  .chart-info:nth-child(1)
  span:first-child::after {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #4f4f4f;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(9px) rotateZ(7deg);
}
.joblin__colours
  .wrapper
  .chart-text-wrapper-special
  .chart-info
  span:first-child::before {
  content: "";
  width: 130px;
  height: 1px;
  background-color: #4f4f4f;
  position: absolute;
  top: 50%;
  left: -80%;
  transform: translateY(10px);
}
.joblin__colours .wrapper .chart-wrapper .chart-info span:last-child {
  position: relative;
}
.joblin__colours .wrapper .chart-wrapper .chart-info span:last-child::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4f4f4f;
  top: 0;
  left: 0;
  position: absolute;
}
.joblin__colours
  .wrapper
  .chart-wrapper
  .chart-info:nth-child(1)
  span:last-child::before {
  top: -102%;
  left: 370%;
}
.joblin__colours
  .wrapper
  .chart-wrapper
  .chart-info:nth-child(2)
  span:last-child::before {
  top: -190%;
  left: 330%;
}
.joblin__colours
  .wrapper
  .chart-wrapper
  .chart-info:nth-child(3)
  span:last-child::before {
  top: -150%;
  left: 270%;
}
.joblin__colours
  .wrapper
  .chart-wrapper
  .chart-info:nth-child(4)
  span:last-child::before {
  top: -20%;
  left: 200%;
}
.joblin__colours
  .wrapper
  .chart-text-wrapper-special
  .chart-info:nth-child(1)
  span:last-child::before {
  top: -22%;
  left: -102%;
}
.joblin__colours .wrapper .chart-wrapper h5 {
  text-wrap: nowrap;
  margin-bottom: 10px;
}
.chart-text-wrapper-special {
  position: relative;
}
.chart-text-wrapper-special .chart-info {
  position: absolute;
  top: 160px;
  left: -70px;
}
.joblin__colours .chart-text-wrapper-special .chart-info span:first-child {
  text-wrap: nowrap;
}
.joblin__colours .chart-text-wrapper-special .chart-info span {
  text-align: right;
}

.joblin__colours .wrapper .chart-wrapper .chart {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #fff;
  margin: 20px 130px 0 -60px;
  background: repeating-conic-gradient(
    from 0deg,
    var(--primary-DarkBlue) 0deg calc(3.6deg * 60),
    var(--primary-White) calc(3.6deg * 60) calc(3.6deg * 80),
    var(--accent-LightBlue) calc(3.6deg * 80) calc(3.6deg * 90),
    var(--accent-Yellow) calc(3.6deg * 90) calc(3.6deg * 97),
    var(--primary-DarkGray) calc(3.6deg * 97) calc(3.6deg * 100)
  );
}
.joblin__colours .wrapper .chart-wrapper2 .chart {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #fff;
  margin: 20px 130px 0 -60px;
  background: repeating-conic-gradient(
    from 0deg,
    var(--primary-White) 0deg calc(3.6deg * 60),
    var(--primary-DarkBlue) calc(3.6deg * 60) calc(3.6deg * 80),
    var(--accent-LightBlue) calc(3.6deg * 80) calc(3.6deg * 90),
    var(--primary-DarkGray) calc(3.6deg * 90) calc(3.6deg * 97),
    var(--accent-Yellow) calc(3.6deg * 97) calc(3.6deg * 100)
  );
}
.joblin__colours .wrapper .chart-wrapper2 h5 {
  margin-right: -15px;
}
.joblin__colours
  .wrapper
  .chart-wrapper2
  .chart-text-wrapper-special
  .chart-info
  span:first-child::before {
  top: 50%;
  left: -190%;
  transform: translateY(10px);
}
.joblin__colours
  .wrapper
  .chart-wrapper2
  .chart-text-wrapper-special
  .chart-info:nth-child(1)
  span:first-child::after {
  left: -220%;
}

.joblin__colours
  .wrapper
  .chart-wrapper2
  .chart-text-wrapper-special
  .chart-info {
  top: 160px;
  left: -40px;
}
.joblin__colours
  .wrapper
  .chart-wrapper2
  .chart-text-wrapper-special
  .chart-info:nth-child(1)
  span:last-child::before {
  left: -226%;
}
/* Joblin__Colours */
/* Joblin__Pallet */
.joblin__pallet {
  padding: 45px 0;
}
.joblin__pallet h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .joblin__pallet h2 {
    text-align: center;
  }
}
.joblin__pallet .sigma-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
}
@media screen and (max-width: 555px) {
  .joblin__pallet .sigma-wrapper {
    flex-direction: column;
  }
}
.joblin__pallet .sigma-wrapper .circle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 992px) {
  .joblin__pallet .sigma-wrapper .circle-wrapper {
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  .joblin__pallet .sigma-wrapper {
    justify-content: center;
  }
}
.joblin__pallet .sigma-wrapper .circle-wrapper .circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #000;
  margin-bottom: 30px;
}
.joblin__pallet .sigma-wrapper .circle-wrapper .info {
}
.joblin__pallet .sigma-wrapper .circle-wrapper .info p {
}

.joblin__pallet .row-space {
  padding: 50px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.joblin__pallet .row-space div {
  width: 97%;
  height: 1px;
  background-color: var(--primary-DarkGray);
}
.joblin__pallet .dark-blue {
  background-color: var(--primary-DarkBlue);
}
.joblin__pallet .white {
  background-color: var(--primary-White);
}
.joblin__pallet .dark-gray {
  background-color: var(--primary-DarkGray);
}
.joblin__pallet .light-blue {
  background-color: var(--accent-LightBlue);
}
.joblin__pallet .yellow {
  background-color: var(--accent-Yellow);
}
.joblin__pallet .variant-dark {
  background-color: var(--variationPrimary-VaraintDark);
}
.joblin__pallet .variant-white {
  background-color: var(--variationPrimary-VaraintWhite);
}
.joblin__pallet .variant-dark-gray {
  background-color: var(--variationPrimary-VaraintDarkGray);
}
.joblin__pallet .variant-light-blue {
  background-color: var(--variationAccent-VaraintLightBlue);
}
/* Joblin__Pallet */
/* Joblin__State */
.joblin__state {
  background-image: url("../Media/Rectangle\ 16.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 0;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.joblin__state::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--variationAccent-VaraintLightBlue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 992px) {
  .joblin__state::before {
    display: none;
  }
}
.joblin__state .wrapper {
}
.joblin__state .image {
  transform: translateY(25px);
}
.joblin__state .wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.joblin__state .wrapper > div .box {
}
.joblin__state .wrapper > div .box h2 {
  color: var(--primary-White);
  font-size: 48px;
  margin-bottom: 28px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .joblin__state .wrapper > div .box h2 {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .joblin__state .wrapper > div .box h2 {
    font-size: 38px;
  }
}

.joblin__state .wrapper > div .box p {
  color: var(--primary-White);
  width: 85%;
}
@media screen and (max-width: 500px) {
  .joblin__state .wrapper > div .box p {
    font-size: 18px;
  }
}
.joblin__state .wrapper > div .box img {
  max-width: 100%;
}
.joblin__highlighter {
  padding: 74px 0;
  background-image: url("../Media/Rectangle\ 16.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.joblin__highlighter h2 {
  color: var(--primary-White);
  font-size: 48px;
  margin-bottom: 28px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .joblin__highlighter h2 {
    text-align: center;
  }
}
.joblin__highlighter p {
  color: var(--primary-White);
}
@media screen and (max-width: 500px) {
  .joblin__highlighter h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 500px) {
  .joblin__highlighter p {
    font-size: 18px;
  }
}
.joblin__highlighter .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
@media screen and (max-width: 767px) {
  .joblin__highlighter .wrapper {
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: center;
  }
}
.joblin__highlighter .wrapper div {
  padding: 32px 62px;
  border-radius: 5px;
  position: relative;
}
.joblin__highlighter .wrapper div:first-child img {
  position: absolute;
  top: 57%;
  max-width: 100%;
}
.joblin__highlighter .wrapper div:last-child img {
  position: absolute;
  top: 59%;
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .joblin__highlighter .wrapper div:first-child img {
    top: 43%;
  }
  .joblin__highlighter .wrapper div:last-child img {
    top: 44%;
  }
}
@media screen and (max-width: 767px) {
  .joblin__highlighter .wrapper div:first-child img {
    top: 59%;
  }
  .joblin__highlighter .wrapper div:last-child img {
    top: 59%;
  }
}
@media screen and (max-width: 490px) {
  .joblin__highlighter .wrapper div:first-child img {
    top: 43%;
  }
  .joblin__highlighter .wrapper div:last-child img {
    top: 43%;
  }
}
.joblin__highlighter .wrapper div.yellow {
  background-color: var(--primary-White);
}
.joblin__highlighter .wrapper div.blue {
  background-color: var(--primary-DarkBlue);
}
.joblin__highlighter .wrapper div h4 {
  color: var(--variationPrimary-VaraintDarkGray);
  margin: 0;
  font-weight: 700;
  font-size: 20.8px;
  line-height: 1.5;
}
.joblin__highlighter .wrapper div.blue h4 {
  color: var(--primary-White);
}

/* Joblin__State */
/* Joblin__Voice */
.joblin__voice {
  padding: 78px 0;
}
.joblin__voice .container {
}
.joblin__voice .container h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  color: var(--variationPrimary-VaraintDarkGray);
}

@media screen and (max-width: 500px) {
  .joblin__voice .container h2 {
    font-size: 38px;
  }
}
.joblin__voice .container .wrapper {
  margin-top: 57px;
}
.joblin__voice .container .wrapper .box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .joblin__voice .container .wrapper .box {
    flex-direction: column;
  }
}
.joblin__voice .container .wrapper .box div:first-child {
  flex: 1;
}
.joblin__voice .container .wrapper .box div:last-child {
  flex: 2;
}
.joblin__voice .container .wrapper .box div h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.7;
  color: var(--primary-DarkGray);
}
.joblin__voice .container .wrapper .box div p {
  margin-bottom: 36px;
}
@media screen and (max-width: 500px) {
  .joblin__voice .container .wrapper .box div p {
    font-size: 18px;
  }
}
/* Joblin__Voice */
