/* Global */
:root {
  --primary-DarkBlue: #043873;
  --primary-White: #ffffff;
  --primary-DarkGray: #32363f;
  --accent-LightBlue: #4f9cf9;
  --accent-Yellow: #ffe492;
  --variationPrimary-VaraintDark: #072445;
  --variationPrimary-VaraintWhite: #f8f9fa;
  --variationPrimary-VaraintDarkGray: #212529;
  --variationAccent-VaraintLightBlue: #212529;
}
* {
  font-family: "Montserrat", sans-serif;
}
.joplin__para {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  color: var(--primary-DarkGray);
  margin: 0;
  padding: 0;
}
.joblin__tagline1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: var(--variationAccent-VaraintLightBlue);
}
/* Global */

/* Header */
header {
  background-image: url("../Media/background\ blue\ motif\ 1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  padding: 36px 0;
}
header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav h2.main-logo {
  font-weight: 600;
  font-size: 48px;
  color: var(--primary-White);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Header */
/* Joblin Logos */
.joblin__logos {
  padding: 92px 0;
}
.joblin__logos h2.main-logo {
  font-weight: 700;
  font-size: 48px;
  color: var(--primary-DarkBlue);
  margin-bottom: 45px;
}
.joblin__logos .container > p {
  margin-bottom: 6px;
}
.joblin__logos > .wrapper {
  padding: 40px 0;
  margin: 40px auto;
  width: 80%;
  border: 1px solid var(--variationAccent-VaraintLightBlue);
  border-radius: 5px;
}
.joblin__logos .wrapper .para-1 {
  margin-bottom: 19px;
}
.joblin__logos .wrapper .para-1 .blue-text {
  font-weight: bold;
  color: var(--accent-LightBlue);
}
.joblin__logos .wrapper .box:nth-child(1) {
}
.joblin__logos .wrapper .box:nth-child(1) > p {
  width: 80%;
}
.joblin__logos .wrapper .colored-box {
  background-color: var(--primary-DarkBlue);
  padding: 24px;
  width: fit-content;
}
.joblin__logos .wrapper .colored-box p {
  color: var(--primary-White);
  margin-bottom: 28px;
}
.joblin__logos .wrapper .box-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
}
.joblin__logos .wrapper .box-wrapper img {
  margin-top: 7px;
}
.joblin__logos .wrapper .box-wrapper p {
  width: 70%;
}
.joblin__logos .wrapper-2 {
  position: relative;
}
.joblin__logos .wrapper-2 .pipeline {
  width: 1px;
  height: 94%;
  background-color: var(--variationAccent-VaraintLightBlue);
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.joblin__logos .wrapper-2 .joblin__tagline1 {
  margin-bottom: 34px;
}
.joblin__logos .wrapper-2 .our-para {
  margin-top: 19px;
}
/* Joblin Logos */

/* Joblin__Colours */
.joblin__colours {
  padding: 80px 0;
  background-image: url("../Media/background\ blue\ motif\ 2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.joblin__colours h2 {
  color: var(--primary-White);
  font-size: 48px;
  margin-bottom: 28px;
}
.joblin__colours p {
  color: var(--primary-White);
  margin-bottom: 40px;
}
.joblin__colours .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 42px;
}
.joblin__colours .wrapper img {
}
/* Joblin__Colours */
/* Joblin__Pallet */
.joblin__pallet {
  padding: 45px 0;
}
/* Joblin__Pallet */
